@charset "utf-8";

@font-face {
	-webkit-text-size-adjust: none;
	font-family: 'Unifont';
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/Unifont.woff') format('woff');
	font-display: swap;
}

* {
	font-family: "Unifont"
}